.form-container{
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 500px;
  padding: 16px;
  margin: 10px auto;
  background: #f7f7f7;
  border: 1px solid #2809d8;
}

.form-container h1 {
  background: #f7f7f7;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #2809d8;
  margin: -16px -16px 16px -16px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea{
  transition: all 0,3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #2809d8;
  font: 95% Arial, Helvetica, sans-serif;
}

.form-container .placeholder{
  color: #2809d8;
}

.form-container .btn-send{
  box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #2809d8;;
  border-bottom: none;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: black;
  font-size: 20px;
}

.form-container .btn-send:hover:not([disabled]){
  background: #ff7235;
}

.alert-danger{
  color: #721c24;
  background: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 5px;
}

.container-error-message{
  padding: 3px;
}