<div class="form-container" id="contacto">
  <h1>Contáctame!</h1>
  <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
    <input type="text" formControlName="name" placeholder="Tú nombre">
    <div class="alert-danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
      <div class="container-error-message" *ngIf="name?.errors?.['required']">
        Nombre es requerido.
      </div>
      <div class="container-error-message" *ngIf="name?.errors?.['minlength']">
        Nombre debe tener al menos 3 caracteres.
      </div>
    </div>
    <input type="text" formControlName="email" placeholder="Tú email">
    <div class="alert-danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <div class="container-error-message" *ngIf="email?.errors?.['required']">
        Nombre es requerido.
      </div>
      <div class="container-error-message" *ngIf="email?.errors?.['minlength']">
        Email debe tener al menos 5 caracteres.
      </div>
      <div class="container-error-message" *ngIf="(email?.dirty || email?.touched) && 
      email?.invalid && email?.errors?.['pattern']">
        Debe ser una dirección de email válida.
      </div>
    </div>
    <textarea formControlName="message" placeholder="Escribe tú mensaje"></textarea>
    <div class="alert-danger" *ngIf="message?.invalid && (message?.dirty || message?.touched)">
      <div class="container-error-message" *ngIf="message?.errors?.['required']">
        Mensaje es requerido.
      </div>
      <div class="container-error-message" *ngIf="message?.errors?.['minlength']">
        Mensaje debe tener al menos 10 caracteres.
      </div>
      <div class="container-error-message" *ngIf="message?.errors?.['maxlength']">
        Mensaje debe tener menos de 100 caracteres.
      </div>
    </div>
    <button type="submit" class="btn-send" [disabled]="!contactForm.valid">Enviar</button>
  </form>
</div>